.arrow {
  font-size: 30px;
  transform: translateY(-12px);
  color: black;
  z-index: 999;
  cursor: pointer;
}

.image-slidshow-container {
  width: 80%;
  height: 80%;
  position: relative;
}

.dots-container {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.slide-show-dot {
  cursor: pointer;
}
