/* Basic CSS for SkillView component */
div {
  font-family: Arial, sans-serif;
}

body {
  background-color: rgb(241, 241, 241);
}

h6 {
  font-size: 18px;
}

progress {
  width: 100%;
  height: 20px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 15px;
}

button:hover {
  background-color: #0056b3;
}

input {
  padding: 5px;
  margin: 5px 0;
}

/* Styling for Exp Entries section and Goals section */
#addExpSection,
#addGoalSection {
  margin-top: 20px;
}

/* Styling for LinePlot component */
.LinePlot {
  width: 100%;
  height: 300px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.main-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  /* background-color: white;
  border-radius: 23px; */
  /* border-style: solid; */
}

.goal-text-box {
  width: 100%;
}

.compo {
  padding: 1em;
  background-color: white;
  border-radius: 23px;
  border: solid rgb(235, 235, 235);
  width: 100%;
}

.skill-view-container {
  padding-inline: 10%;
}

@media (max-width: 40em) {
  .skill-view-container {
    padding-inline: 5%;
  }
}

.exp-bar {
  margin-bottom: 1em;
}

.main-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  /* border-style: solid; */
}

.main-container {
  /* border-style: solid; */
  /* padding: 5%; */
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.skills-title {
  width: 100%;
  text-align: center;
}

.entries-window {
  max-height: 20rem;
  overflow: scroll;
}

.umcomplete-goal:hover {
  text-decoration: line-through;
}
