* {
  font-family: "Oswald", sans-serif;
}
header {
  background-color: #e7bb41;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: min(20rem, 20vw);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.logo {
  text-decoration: none;
  color: black;
  font-weight: 800;
  margin: 0 2rem;
  transition: all 0.3s ease 0s;
}

.logo:hover {
  transform: scale(1.1);
  color: red;
}

.characterIcon {
  border: 2px solid black;
  border-radius: 15%;
  height: 20;
  width: 20;
}

.home-page-profile-container {
  background-color: #44bba4;
  padding: 2em;
}

.character-statistic {
  color: white;
}

.profile-stats {
  margin-block: auto;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 2em;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 5em 0 5em;
}

.character-name-container {
  padding-top: 2em;
  text-align: center;
  font-weight: 200;
}

.character-skills {
  /* margin-block: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.profile-progress-bar {
  padding: 1%;
}

.profile-progress-bar-container {
  padding: 0em 5em 0em 5em;
}

.primary-navigation {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* transform: translateX(0%); */
}

.nav-item {
  display: inline-block;
  padding: 1em 2em;
}

.nav-item a {
  transition: all 0.3s ease 0s;
  font-weight: 700;
}

.nav-item a:hover {
  color: red;
}

.progress {
  width: 10%;
}

.skill-box {
  flex: 1;
  min-width: min(33vw, 30em);
  box-sizing: border-box;
  padding: 2em;
  border: 2px solid teal;
  border-radius: 25px;
  /* flex: 50%; */
}

.skill-box-goal {
  padding-block: 0.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.all-skills-container {
  background-color: #ececec;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  padding-inline: 3rem;
  justify-content: space-evenly;
}

.add-skill-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.mobile-nav-toggle {
  display: none;
}

@media (max-width: 40em) {
  .all-skills-container {
    display: block;
    margin: 0em;
  }

  .mobile-nav-toggle {
    display: block;
  }

  .skill-box {
    width: 100%;
  }

  .skill-delete-button {
    display: inline;
  }

  .primary-navigation {
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 1000;

    background: hsl(0 0% 100% / 0.9);
    /* backdrop-filter: blur(1rem); */

    padding: min(10vh, 10rem) 2em;
    flex-direction: column;

    /* transform: translateX(0%); */
  }

  .mobile-nav-toggle {
    position: fixed;
    z-index: 9999;
    width: 1rem;
    aspect-ratio: 1;
    right: 2rem;
  }

  @supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
      background: hsl(0 0% 100% / 0.1);
      backdrop-filter: blur(1rem);
    }
  }
}

.main-progress-container {
  display: flex;
}

.progress-exp {
  background-color: rgb(46, 46, 46);
  color: #e7e5df;
  max-height: 2rem;
  margin-top: 1em;
  margin-bottom: 0;
  border: solid #e7e5df;
  border-radius: 10px 0px 0px 0px;
}

.progress-outer-container {
  margin-top: 1em;
  background-color: #e7e5df;
  max-height: 2rem;
  width: 100%;
  border-radius: 0px 10px 10px 0;
  border: solid #e7e5df;
  border-left: 0;
  color: rgb(255, 255, 255);
  overflow: visible;
}

.progress-inner-container {
  border-radius: inherit;
  white-space: nowrap;
  height: 100%;
  background-color: #e7bb41;
  max-width: 100%;
  color: black;
  transition: all 3s ease-in 0s;
  text-align: end;
  overflow: visible;
}

.progress-inner-container:hover {
  width: 2%;
}
.progress-inner-container p {
  margin-bottom: 0;
  padding: 0;
  margin-left: max(calc(100% - 3vw), 0);
}

table {
  width: 100%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.progress-bar-sword {
  margin: 10px;
  background-color: #e7e5df;
  width: 100%;
  height: 5vh;
  position: relative;
}

.progress-bar-sword-inner {
  width: 100%;
  height: inherit;
  background-color: blue;
}

.progress-bar-sword:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 2em solid white;
  border-left: 5em solid blue;
  width: 30%;
  height: inherit;
}
